// form-error.pug
doctype html
html
  head
    title Error
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Error
    h2.error Oooops!
    ul.error
      each error in errors
        li= error.message
    p
      a.button(href='javascript:history.back()') Go Back
